<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
          <a href="#" class="logo">DrivePrestige</a>
          <div class="menu">
            <a href="\" class="menu-item">Home</a>
            <a href="\contact" class="menu-item">Contact</a>
            <a href="\services" class="menu-item">Services</a>
          </div>
        </div>
      </nav>
      <div class="container">
        <section class="home-section">
          <h1>Welcome to DrivePrestige</h1>
          <p>Discover our premium services for all your automotive needs.</p>
          <p>From high-quality car rentals to exclusive car sales, we've got you covered.</p>
          <p>Experience excellence in every ride with YourLogo.</p>
    
          <!-- Nouveaux éléments ajoutés -->
          <div class="feature">
            <img src="https://www.hentorcar.com/sites/default/files/slide_02_replace.jpg" alt="Feature 1">
            <h2>Car Rentals</h2>
            <p>Explore our diverse fleet of high-performance vehicles available for rent.</p>
          </div>
    
          <div class="feature">
            <img src="https://djx5h8pabpett.cloudfront.net/wp-content/uploads/2016/10/10102515/Generic_showroom2_620.jpg" alt="Feature 2">
            <h2>Exclusive Sales</h2>
            <p>Own a piece of automotive luxury with our exclusive car sales offerings.</p>
          </div>
        </section>
      </div>
</body>
</html>