<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
          <a href="#" class="logo">DrivePrestige</a>
          <div class="menu">
            <a href="/" class="menu-item">Home</a>
            <a href="/contact" class="menu-item">Contact</a>
            <a href="/services" class="menu-item">Services</a>
          </div>
        </div>
      </nav>

      <div class="container">
        <section class="services-section">
          <div class="card">
            <h2>Car Rental</h2>
            <p>Explore our fleet of high-quality rental cars for your travel needs.</p>
            <img src="car_rental.webp" alt="Car Rental">
          </div>
    
          <div class="card">
            <h2>Car Sales</h2>
            <p>Check out our collection of premium cars available for purchase.</p>
            <img src="car_sales.webp" alt="Car Sales">
          </div>

          <div class="card">
            <h2>Driver's License Service</h2>
            <p>Explore our exclusive service to help you obtain your driver's license.</p>
            <img src="car_driver_license.webp" alt="Car Sales">
          </div>
    
        </section>
      </div>
</body>
</html>